.sidebar {
  h2 {
    padding: 2rem 2rem;
    // background-color: #fff;
  }

  .menu {
    margin-top: 2.4rem;
    width: 100%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 1.3rem;

    i {
      padding-right: 8px;
    }

    .b-menu {
      display: flex;

      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }

      h4 {
        margin: 5px;
        font-size: 1.3rem;
      }
    }
    // margin-left: 0;
  }
}
