:root {
  --gray: #212121;
  --lgray: #929292;
  --green: #009560;
  --white: #e9e9e9;
  --black: #0c0c0c;
  --lblack: #151515;
}

@font-face {
  font-family: neue;
  src: url(./fonts/NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
  font-family: halva;
  src: url(./fonts/Helvetica_NTUXwLmxSC.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--black);
}

.green {
  color: var(--green);
}

.lgray {
  color: var(--lgray);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 42px;
  position: fixed;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-left img {
  height: 45px;
  cursor: pointer;
}

.nav-left h4 {
  width: 150px;
  font-family: neue;
  line-height: 1.3;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav-right img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-right h4 {
  font-family: neue;
  cursor: pointer;
}

.nav-right h4 i {
  font-size: 18px;
}

.nav-phone {
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;
}

.nav-phone h4 i {
  font-size: 19px;
  cursor: pointer;
}

@media (max-width: 700px) {
  nav {
    padding: 9px 16px;
  }

  .nav-left {
    gap: 10px;
  }
  .nav-left img {
    height: 27px;
  }
  .nav-left h4 {
    font-size: 14px;
    width: 120px;
    font-family: neue;
    line-height: 1.2;
  }

  .nav-right {
    display: none;
  }

  .nav-phone {
    display: flex;
  }
}

main {
  padding-top: 80px;
}
.section-01 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 55px;
  font-family: halva;
}

.section-01 .left h1 {
  font-size: 2.8rem;
  width: 68%;
}

.section-01 .left .tags {
  width: 68%;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  margin: 22px 0px;
}
.section-01 .left .tags h4 {
  padding: 10px 18px;
  border-radius: 5px;
  background-color: var(--gray);
}

.section-01 .left .price {
  font-size: 32px;
}

.section-01 .left .price .lgray {
  font-size: 22px;
}

.section-01 .left h5 {
  font-size: 16px;
  color: var(--green);
}

.section-01 .button {
  display: flex;
  gap: 11px;
  margin: 26px 0px;
}

.section-01 .button button {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 3.7rem;
  border: none;
  border-radius: 5px;
  gap: 5px;
}

.section-01 .left .button .btn-1 {
  background-color: var(--green);
}

.section-01 .left .button .btn-2 {
  background-color: var(--gray);
}

.section-01 .left h6 {
  font-size: 22px;
}
/* 
.section-01 .right .right-in {
  wi
} */

.section-01 .right {
  line-height: 0;
}
.section-01 .right img {
  width: 600px;
}

.section-01 .right .image-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 12px 13px 12px;
  background-color: var(--gray);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 1;
}
.section-01 .right .image-bottom h4 {
  background-color: var(--lblack);
  padding: 12px 10px;
  margin: 12px;
  border-radius: 5px;
  font-size: 18px;
}
.section-01 .right .image-bottom h4 span {
  color: var(--green);
}

@media (max-width: 1300px) {
  .section-01 .left h1 {
    font-size: 3.6vmax;
  }

  .section-01 .right img {
    width: 47vmax;
  }
  .section-01 .right .image-bottom h4 {
    font-size: 1.2vmax;
  }
}
@media (max-width: 700px) {

  main {
    padding-top: 8vw;
  }
  .section-01 {
    flex-direction: column-reverse;
    padding: 10px;
    padding-top: 12px;
  }
  .section-01 .left h1 {
    width: 100%;
    margin-top: 30px;
  }
  .section-01 .left .tags {
    width: 100%;
  }
  .section-01 .left .tags h4 {
    padding: 10px 28px;
  }

  .section-01 .left .price {
    font-size: 3vmax;
  }

  .section-01 .left .price .lgray {
    font-size: 2vmax;
  }

  .section-01 .button button {
    padding: 14px 2.7rem;
    margin-bottom: -10px;
  }

  .section-01 .left h6 {
    font-size: 2vmax;
  }

  .section-01 .right {
    width: 100%;
  }

  .section-01 .right img {
    width: 100%;
  }

  .section-01 .right .image-bottom {
    padding: 36px 0px 5px 0px;
  }
  .section-01 .right .image-bottom h4 {
    font-size: 2vmax;
  }
}
